textarea:focus {
    box-shadow: none !important;
    outline: none;
}

input:focus {
    box-shadow: none !important;
}

img:focus {
    box-shadow: none !important;
    outline: none;
}
svg:focus {
    box-shadow: none !important;
    outline: none;
}
a:focus {
    box-shadow: none !important;
    outline: none;
}

select {
    background-image: none !important;
    box-shadow: none !important;
}

.bg-option1 {
    background-color: #0f172a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.06'%3E%3Ccircle fill='%230F172A' cx='50' cy='0' r='50'/%3E%3Cg fill='%23341646' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2347165a' cx='50' cy='100' r='50'/%3E%3Cg fill='%2357156a' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23641578' cx='50' cy='200' r='50'/%3E%3Cg fill='%236f1485' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%237a1390' cx='50' cy='300' r='50'/%3E%3Cg fill='%2383139b' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%238c12a5' cx='50' cy='400' r='50'/%3E%3Cg fill='%239511ae' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%239d10b7' cx='50' cy='500' r='50'/%3E%3Cg fill='%23a40fbf' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ab0fc7' cx='50' cy='600' r='50'/%3E%3Cg fill='%23b20ecf' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b90dd7' cx='50' cy='700' r='50'/%3E%3Cg fill='%23c00cde' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c60ae5' cx='50' cy='800' r='50'/%3E%3Cg fill='%23cc09ec' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d207f2' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d705f9' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

.bg-option2 {
    background-color: #0f172a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.6' fill='%23111A2F'/%3E%3C/svg%3E");
}

.demogard {
    -webkit-transition: background 1s ease-out !important;
    -moz-transition: background 1s ease-out !important;
    -o-transition: background 1s ease-out !important;
    transition: background 1s ease-out !important;
}
.demogard:hover {
    background-position: 126.6px !important;
}
.demogard:focus {
    background-position: 126.6px !important;
}

.demogardPostComment {
    -webkit-transition: background 1s ease-out !important;
    -moz-transition: background 1s ease-out !important;
    -o-transition: background 1s ease-out !important;
    transition: background 1s ease-out !important;
}

.demogardPostComment:hover {
    background-position: 149.6px !important;
}
.demogardPostComment:focus {
    background-position: 149.6px !important;
}
.demogardNewsletter {
    -webkit-transition: background 1s ease-out !important;
    -moz-transition: background 1s ease-out !important;
    -o-transition: background 1s ease-out !important;
    transition: background 1s ease-out !important;
}

.demogardNewsletter:hover {
    background-position: 205.1px !important;
}
.demogardNewsletter:focus {
    background-position: 205.1px !important;
}

.demogardNewsletterbutton {
    -webkit-transition: background 1s ease-out !important;
    -moz-transition: background 1s ease-out !important;
    -o-transition: background 1s ease-out !important;
    transition: background 1s ease-out !important;
}

.demogardNewsletterbutton:hover {
    background-position: 113.8px !important;
}
.demogardNewsletterbutton:focus {
    background-position: 113.8px !important;
}

.newsletterlogo {
    width: 220px !important;
}

.wavingHand {
    width: 35px !important;
}

.selectedCategoryItem {
    background: blue;
}
