textarea:focus {
    box-shadow: none !important;
    outline: none;
}

input:focus {
    box-shadow: none !important;
}

img:focus {
    box-shadow: none !important;
    outline: none;
}
svg:focus {
    box-shadow: none !important;
    outline: none;
}
a:focus {
    box-shadow: none !important;
    outline: none;
}

select {
    background-image: none !important;
    box-shadow: none !important;
}

.demogard {
    -webkit-transition: background 1s ease-out !important;
    -moz-transition: background 1s ease-out !important;
    -o-transition: background 1s ease-out !important;
    transition: background 1s ease-out !important;
}
.demogard:hover {
    background-position: 126.6px !important;
}
.demogard:focus {
    background-position: 126.6px !important;
}

.demogardPostComment {
    -webkit-transition: background 1s ease-out !important;
    -moz-transition: background 1s ease-out !important;
    -o-transition: background 1s ease-out !important;
    transition: background 1s ease-out !important;
}

.demogardPostComment:hover {
    background-position: 149.6px !important;
}
.demogardPostComment:focus {
    background-position: 149.6px !important;
}

.newsletterlogo {
    width: 220px !important;
}

.wavingHand {
    width: 35px !important;
}

.selectedCategoryItem {
    background: blue;
}
